# Build
build/
cmake-build-*/

# Conan
.conan/
CMakeUserPresets.json

# Compiled
*.o
*.a
*.so
*.out

# Executables
redis-server
bench/bench

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# RDB snapshot
*.rdb
